In [2]:
import pandas as pd
import xlrd

In [3]:
import warnings
warnings.simplefilter(action = "ignore", category = RuntimeWarning)

In [21]:
world=pd.read_csv('agriculture.csv')
hello=pd.read_csv('gdp (2).csv')#dataset is from rbi 
##in future we are going many other datasets-such as construction,industry and the factors affecting the gdp using the landuse
hello.head()
hello.tail()
world.head()
world.tail()

   Andaman & Nicobar Islands    23555    17747    20491    22026    22147
27                 Telangana  1401075  1805100  1784045  2097384  2219983
28                   Tripura   184846   188919   204814   243856   248151
29             Uttar Pradesh  7016710  7181347  7351197  7614063  7915167
30               Uttarakhand   411370   394103   414627   422791   394487
31               West Bengal  4002017  4075650  4116824  4369531  4215545

In [22]:
import pandas as pd
print(world.columns)
new_column_names = ['state', '2004-2005', '2005-2006', '2006-2007', '2007-2008', '2008-2009']
world.columns = new_column_names
print(world.columns)
import pandas as pd
print(hello.columns)
hello.columns = new_column_names
print(hello.columns)
pd.DataFrame(hello)

Index(['Andaman & Nicobar Islands', '23555', '17747', '20491', '22026',
       '22147'],
      dtype='object')
Index(['state', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009'],
      dtype='object')
Index(['state', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009'],
      dtype='object')
Index(['state', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009'],
      dtype='object')

,state,2004-2005,2005-2006,2006-2007,2007-2008,2008-2009
0,Andaman & Nicobar Islands,181264,190699,225075,247869,283388
1,Andhra Pradesh,13476688,14197662,15738632,17802768,18182940
2,Arunachal Pradesh,348751,358423,377212,422680,459583
3,Assam,5339771,5521356,5778352,6056720,6403256
4,Bihar,7778116,7646594,8884017,9377406,10741179
5,Chandigarh,850404,941333,1079499,1158054,1251908
6,Chhattisgarh,4786229,4940774,5859816,6364377,6898211
7,Delhi,10032452,11040607,12407958,13796086,15579109
8,Goa,1271331,1367162,1504172,1587538,1746618
9,Gujarat,20337300,23377600,25339300,28127300,30034100
10,Haryana,9579512,10460779,11634434,12617076,13647794
11,Himachal Pradesh,2407658,2610733,2848059,3091673,3321011
12,Jammu & Kashmir,2730462,2888283,3060158,3256098,3466422
13,Jharkhand,5975772,5784841,5922572,7137711,7012946
14,Karnataka,16674713,18427703,20266010,22820215,24442138
15,Kerala,11926400,13129393,14166669,15409268,16265920
16,Madhya Pradesh,11292689,11891946,12989612,13598571,15294616
17,Maharashtra,41547968,47092933,53465395,59483158,61019135
18,Manipur,513336,545906,556775,589952,628659
19,Meghalaya,655933,707785,762564,796999,900104
20,Mizoram,268197,286942,300587,333621,378137
21,Nagaland,583884,643571,693785,744537,791687
22,Odisha,7772943,8214472,9270083,10284562,11081178
23,Puducherry,575371,718822,745341,809328,875074
24,Punjab,9683851,10255608,11299739,12322323,13043076
25,Rajasthan,12774565,13628496,15218867,16001662,17455575
26,Sikkim,173915,190945,202385,217823,253499
27,Tamil Nadu,21900322,24956705,28752968,30515680,32179336
28,Telangana,8994627,10423333,11634322,12861773,14590178
29,Tripura,890353,942179,1020245,1098843,1202492
30,Uttar Pradesh,26084066,27781788,30022535,32221349,34472559
31,Uttarakhand,2478567,2834035,3218960,3802186,4283246
32,West Bengal,20865636,22178946,23907712,25763218,27024826

In [8]:
hello_data = pd.DataFrame(hello)
world_data = pd.DataFrame(world)

In [13]:
world.loc[32]=['Andaman & Nicobar Islands',184846,188919,204814,243856,248151]#dataset does not contains the particular state -in future the above
#data entry will be addressed by mean,mode or smote

In [17]:
hello['state'] = hello['state'].str.strip()#removeing the strips before the state
world['state'] = world['state'].str.strip()
merged_data = pd.merge(hello, world, on=['state'], how='inner')
print("\nMerged Data:")
print(merged_data)

Merged Data:
                        state  2004-2005_x  2005-2006_x  2006-2007_x  \
0   Andaman & Nicobar Islands       181264       190699       225075
1              Andhra Pradesh     13476688     14197662     15738632
2           Arunachal Pradesh       348751       358423       377212
3                       Assam      5339771      5521356      5778352
4                       Bihar      7778116      7646594      8884017
5                  Chandigarh       850404       941333      1079499
6                Chhattisgarh      4786229      4940774      5859816
7                       Delhi     10032452     11040607     12407958
8                         Goa      1271331      1367162      1504172
9                     Gujarat     20337300     23377600     25339300
10                    Haryana      9579512     10460779     11634434
11           Himachal Pradesh      2407658      2610733      2848059
12            Jammu & Kashmir      2730462      2888283      3060158
13                  Jharkhand      5975772      5784841      5922572
14                  Karnataka     16674713     18427703     20266010
15                     Kerala     11926400     13129393     14166669
16             Madhya Pradesh     11292689     11891946     12989612
17                Maharashtra     41547968     47092933     53465395
18                    Manipur       513336       545906       556775
19                  Meghalaya       655933       707785       762564
20                    Mizoram       268197       286942       300587
21                   Nagaland       583884       643571       693785
22                     Odisha      7772943      8214472      9270083
23                 Puducherry       575371       718822       745341
24                     Punjab      9683851     10255608     11299739
25                  Rajasthan     12774565     13628496     15218867
26                     Sikkim       173915       190945       202385
27                 Tamil Nadu     21900322     24956705     28752968
28                  Telangana      8994627     10423333     11634322
29                    Tripura       890353       942179      1020245
30              Uttar Pradesh     26084066     27781788     30022535
31                Uttarakhand      2478567      2834035      3218960
32                West Bengal     20865636     22178946     23907712

    2007-2008_x  2008-2009_x  2004-2005_y  2005-2006_y  2006-2007_y  \
0        247869       283388       184846       188919       204814
1      17802768     18182940      3224006      3128389      3227189
2        422680       459583        57224        53776        64181
3       6056720      6403256      1158871      1181144      1200941
4       9377406     10741179      2067296      1787450      2333830
5       1158054      1251908         7042         7294         7256
6       6364377      6898211       705744       832472       873831
7      13796086     15579109       101772        98332        99460
8       1587538      1746618        66193        82977        65081
9      28127300     30034100      2674600      3398200      3361600
10     12617076     13647794      2097146      2053262      2354339
11      3091673      3321011       474739       494411       469257
12      3256098      3466422       610034       613278       623411
13      7137711      7012946       679460       702304       799463
14     22820215     24442138      2645533      2937671      2834979
15     15409268     16265920      1698051      1804197      1656785
16     13598571     15294616      2753979      2973694      3055971
17     59483158     61019135      3442261      3836363      4458707
18       589952       628659        96301        95256        95271
19       796999       900104       108811       117245       119396
20       333621       378137        36138        37055        38559
21       744537       791687       160164       162992       163672
22     10284562     11081178      1460377      1510990      1534989
23       809328       875074        19982        22164        26086
24     12322323     13043076      3014053      3037675      3124807
25     16001662     17455575      2791717      2804372      3035203
26       217823       253499        28503        29835        29900
27     30515680     32179336      2102673      2344198      2705750
28     12861773     14590178      1401075      1805100      1784045
29      1098843      1202492       184846       188919       204814
30     32221349     34472559      7016710      7181347      7351197
31      3802186      4283246       411370       394103       414627
32     25763218     27024826      4002017      4075650      4116824

    2007-2008_y  2008-2009_y
0        243856       248151
1       3854936      3749978
2         80611        69680
3       1237322      1252426
4       2128954      2598292
5          7276         7742
6        974345       835891
7         96369        95608
8         68661        61535
9       3715500      3392000
10      2347579      2521178
11       525123       516057
12       632118       660061
13       846191      1019766
14      3232974      3276766
15      1619660      1653394
16      3001998      3289794
17      5185522      4154867
18       107855       121115
19       118629       125249
20        47274        56909
21       164020       173787
22      1616855      1644986
23        27110        33329
24      3249888      3311353
25      3080266      3226172
26        31307        32999
27      2578885      2509330
28      2097384      2219983
29       243856       248151
30      7614063      7915167
31       422791       394487
32      4369531      4215545

In [18]:
hello.columns

Index(['state', '2004-2005', '2005-2006', '2006-2007', '2007-2008',
       '2008-2009'],
      dtype='object')

In [ ]:
cons=pd.read_csv('construction.csv')##similarly above merge method we are going to add the many other features

In [ ]:
cons.head()

In [ ]:
cons['state']=cons['state'].str.strip

In [ ]:
merged_data = pd.merge(hello_data, world_data, on='state', how='inner')
final_merged_data = pd.merge(merged_data, cons_data, on='state', how='inner')

In [ ]:
import xgboost as xgb
import pandas as pd
from sklearn.model_selection import train_test_split

target_column = '2004_2005_x' ##for each year we are finding the influential features(agriculture,industry,construction...)


features = [col for col in merged_data.columns if col != target_column]

X = merged_data[features]##features like agriculture,industry,cosntruction....
y = merged_data[target_column]#gdp 


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = xgb.XGBClassifier()


model.fit(X_train, y_train)

# Get feature importances-which is the influential features in determing the gdp(agriculture,industry,construction...)
feature_importances = model.feature_importances_
feature_importance_df = pd.DataFrame({'Feature': features, 'Importance': feature_importances})
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)
print(feature_importance_df)

In [93]:
#analysing the trends between gdp and various other features

import matplotlib.pyplot as plt

# Assuming 'GDP' is the column representing GDP and 'feature1', 'feature2' are other features(agriculture,industry,costruction..)

features_to_explore = ['feature1', 'feature2'] #agriculture,industry,construction
gdp_column = 'GDP'  #year wise gdp
fig, axes = plt.subplots(nrows=len(features_to_explore), ncols=1, figsize=(8, 6 * len(features_to_explore)))
for idx, feature in enumerate(features_to_explore):
    ax = axes[idx]
    ax.scatter(data[feature], data[gdp_column], alpha=0.5)
    ax.set_xlabel(feature)
    ax.set_ylabel('GDP')
    ax.set_title(f'{feature} vs GDP')

plt.tight_layout()
plt.show()